<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
  <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
  <link rel="stylesheet" type="text/css"  href="style.css" />
  <title>Lokacije</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-sm-3 col-xs-12">
              <br>
              <h4><a  th:href="@{'/lokacije/admin/new'}">Dodaj lokaciju</a></h4>
            </div>
            <div class="col-sm-9 col-xs-12 text-right">
              <br>
              <div class="btn_group">
                <form th:action="@{/lokacije/admin/search}" method="get">
                  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Pretraži lokacije po nazivu" size="50" >
                  <button type="submit" class="btn btn-info" >Pretraži</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Naziv lokacije</th>
              <th>Opis</th>
              <th>Slika</th>
              <th>           </th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="lokacije : ${listaLokacija}">
              <td th:text="${lokacije.ime}">Naziv lokacije</td>
              <td th:text="${lokacije.opis}">Opis</td>
              <td><img th:src="${lokacije.url}" width="100" height="80"/></td>
              <td>
                <a th:href="@{/lokacije/admin/edit/{id}(id=${lokacije.id})}">Uredi</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

