<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Uredi lokaciju</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div align="center">
    <h1>Uredi lokaciju</h1>
    <br />
    <div class="col-sm-4">
        <form action="#" th:action="@{/lokacije/admin/update/{id}(id=${lokacije.id})}" object="${lokacije}" name="lokacije"
              method="put">


            <div alight="left">
                <tr>
                    <label class="form-label" >Naziv kategorije</label>
                    <td>
                        <input type="hidden" field="*{id}" name="id" />
                        <input type="text" field="*{ime}" name="ime" class="form-control" th:value="${lokacije.ime}" />
                    </td>
                </tr>
            </div>

            <div alight="left">

                <tr>
                    <label class="form-label" >Opis</label>
                    <td><input type="text" field="*{opis}" name="opis" class="form-control" th:value="${lokacije.opis}" /></td>

                </tr>
            </div>

            <div alight="left">

                <tr>
                    <label class="form-label" >Slika</label>
                    <td><input type="text" field="*{url}" name="url" class="form-control" th:value="${lokacije.url}" /></td>

                </tr>
            </div>

            <br>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-info">Uredi</button> </td>
            </tr>
            </table>
        </form>
    </div>
</div>
</body>